.completed {
	position: relative;
	color: var(--success-color);
	margin-top: 0.5rem;
}

.freezed {
	position: relative;
	color: var(--streak-color);
}

.unit {
	flex: 1 0 11%;
	background: #e2e2e2;
	margin: 1%;
	margin-bottom: 3%;
	text-align: center;
	border-radius: 4px;
	color: var(--color-dark);
	min-height: 7rem;
	padding: 0.5rem;
}


.middleValue {
	font-size: 1.4rem;
}

