
.goal {
	width: var(--inner-width);
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	padding-bottom: 0.5rem;
	padding-top: 1rem;
}

.goal > * {
	align-self: center;
	color: var(--color-dark);
}

.goalTitle {
	justify-self: center;
	font-weight: 700;
	color: var(--color-dark);
	text-align: center;
	font-size: 1.5rem;
	max-width: 250px;
	word-wrap: break-word;
}

.actionIcons {
	position: absolute;
	right: -5px;
}

.deleteGoal,
.editGoal {
	background: var(--color-dark);
	color: rgba(255, 255, 255, 0.8);
	border: 1px solid var(--color-light);
	border-radius: 25%;
	cursor: pointer;
	float: right;
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.8;
	margin-left: 0.3rem;
}
.editGoal:hover,
.deleteGoal:hover {
	transform: scale(1.1);
}

.editGoal a {
	color: rgba(255, 255, 255, 0.8);
	line-height: 0;
}

.goal .goalTitle {
	width: 60%;
	padding-left: 1.8rem;
	text-align: left;
}

.dateField {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
}

.streakPlusMeasure {
	width: 20%;
}

.streak {
	color: var(--color-lighter);
	text-shadow: 1px 1px 2px #555;
	font-size: 2.5rem;
	font-weight: 700;
	padding-right: 0.3rem;
	line-height: 0;
}

@media screen and (max-width: 500px){
	.streak {
		font-size: 1.8rem;
	}
	.goalTitle {
		font-size: 1rem;
	}
}