.Auth {
    width: 90%;
    margin: auto;
    position: relative;
}

.Title {
    color: var(--color-dark);
    text-align: center;
    font-weight: 300;
    padding: 1rem;
}

.Agreement {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.6rem;
    align-items: center;
    color: var(--light-grey);
}

